@import './defaulf.scss';

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.header {
  background: linear-gradient(90deg, #e55d87, #5fc3e4);
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 30px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  font-weight: 700;

  &_text {
    font-size: 40px;
    font-weight: 700;
    color: beige;
  }

  input {
    display: block;
    font: inherit;
    padding: 8px;
    width: 320px;
    /* margin-bottom: 16px; */
    margin: 16px;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

.photo-card {
  flex-basis: calc((100% - 90px) / 4);
  display: flex;
  flex-wrap: wrap;

  height: 230px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.photo-img {
  width: 100%;
  height: 100%;
  // max-width: unset;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-between;

  &-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.load-more {
  display: block;
  margin: 10px auto;
}
